@import url('https://fonts.googleapis.com/css?family=Bangers');

h1 {
    font-family: 'Bangers', cursive;
    font-size: 6rem;
    margin-left: 0rem;
    color: rgba(5, 233, 233, 1);
    margin-bottom: 0rem;
    line-height: 0.9;
    opacity: 1.0;
}

h2 {
    font-family: 'Bangers', cursive;
    color: rgba(5, 233, 233, 1);
    margin-left: 8rem;
    font-size: 4rem;
    line-height: 0.9;
    opacity: 1.0;
}

.text-holder {
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: rgba(3, 251, 3, 0.6);
}
